version: 2.1
jobs:
  compile:
   docker:
      - image: xyzuan/xdocker:latest
   steps:
      - run:
          command: |
            git clone --depth=1 https://github.com/flashokillerify/kernel_xiaomi_sdm439 kernel && cd kernel
            curl https://raw.githubusercontent.com/flashokillerify/personalscripts/master/kernel/build_ci.sh  > run.sh
            source run.sh
          no_output_timeout : 5h
workflows:
  version: 2.1
  cooking:
    jobs:
      - compile 
